:root{
    --primario-naranja: hsl(35,77%,62%);
    --primario-rojo: hsl(5,85%,63%);
    /* neutral */
    --neutral-blanco: hsl(36, 100%, 99%);
    --neutral-azul: hsl(233, 8%, 79%);
    --neutral-azulOscuro: hsl(236, 13%, 42%);
    --neutral-azulOscuroFuerte: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--neutral-blanco);
}

.container {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: .5em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    border: none;
    background-color: transparent;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 1em 0;
}

.img__web {
    width: 100%;
}

.title__principal {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1;
    width: 80%;
}

.parrafo__principal {
    color: var(--neutral-azulOscuro);
    width: 92%;
}

.btn__read {
    background-color: var(--primario-rojo);
    border: none;
    text-transform: uppercase;
    width: 50%;
    padding: 1em;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 2px;
}

.aside {
    background-color: var(--neutral-azulOscuroFuerte);
    color: var(--neutral-blanco);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
}

.aside h2 {
    font-size: 1.4em;
}

.aside p {
    color: var(--neutral-azul);
}

.title__aside {
    color: var(--primario-naranja);
}

.new__box {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.box__aside {
    border-bottom: 1px solid var(--neutral-azul);
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.box__aside:last-child{
    border: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em 0;
}

.sectionBox {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.sectionBox img {
    height: 10em;
    width: auto;
}

.sectionBox .article__number {
    color: var(--primario-rojo);
    font-size: 2em;
    font-weight: 700
}

.title__article {
    font-size: 1.2em;
}

.parrafo__article {
    color: var(--neutral-azulOscuro);
}

.article__space {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 70%;
    display: none;
    top: 0;
    right: 0;
    background-color: var(--neutral-blanco);
    border-left: 1px solid var(--neutral-azulOscuro);
    padding-left: 2em;
    z-index: 10;
}

.nav ul {
    margin-top: 8em;
}

.listItem {
    list-style: none;
    margin: 2em 0;
}

.listItem a {
    color: var(--neutral-azulOscuroFuerte);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    
}

.logo__menu {
    position: absolute;
    right: 1em;
    z-index: 20;
    top: 1.2em;
}

.active {
display: flex;
}

@media(min-width: 1200px){
    .container{
        display: grid;
        max-width: 1444px;
        width: 100%;
    }
}